.finalCTA {
  min-height: 100vh;

  background: #0b0b0b;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

.destination {
  position: absolute;

  width: 300px;
  height: 300px;

  border: 1px solid rgba(255,255,255,.2);
  border-radius: 50%;

  display: grid;
  place-items: center;

  font-size: 10px;
  letter-spacing: .2em;
}

.finalCTA p {
  font-size: 11px;
  letter-spacing: .25em;
  opacity: .45;
  z-index: 2;
}

.finalCTA h2 {
  text-align: center;

  font-size: clamp(80px, 13vw, 200px);
  line-height: .8;

  letter-spacing: -.08em;

  font-weight: 400;

  margin: 40px 0;

  z-index: 2;
}

.finalCTA button {
  border: 1px solid rgba(255,255,255,.5);
  background: white;
  color: black;

  padding: 15px 24px;
  border-radius: 100px;

  cursor: pointer;

  z-index: 2;
}

.finalCTA footer {
  position: absolute;

  bottom: 30px;
  left: 5vw;
  right: 5vw;

  display: flex;
  justify-content: space-between;

  font-size: 11px;
  opacity: .4;
}