.aiSection {
  min-height: 250vh;
  background: #dcd9d2;
  color: #111;
}

.aiSticky {
  height: 100vh;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  padding: 8vw;
}

.aiHeader span {
  font-size: 11px;
  letter-spacing: .2em;
  opacity: .45;
}

.aiHeader h2 {
  font-size: clamp(60px, 9vw, 140px);
  line-height: .82;
  letter-spacing: -.07em;
  font-weight: 400;
}

.timer {
  width: 350px;
  height: 350px;

  border: 1px solid rgba(0,0,0,.2);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  justify-self: center;
}

.timer small {
  font-size: 10px;
  letter-spacing: .2em;
  opacity: .5;
}

.timer strong {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -.06em;
}

.timer span {
  font-size: 11px;
  opacity: .5;
}

.aiStages {
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgba(0,0,0,.2);
  padding-top: 20px;
}

.aiStages div {
  font-size: 12px;
  opacity: .3;

  display: flex;
  gap: 10px;
}

.aiStages div.active {
  opacity: 1;
}

@media (max-width: 700px) {
  .aiSticky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }

  .timer {
    width: 260px;
    height: 260px;
  }

  .timer strong {
    font-size: 60px;
  }

  .aiStages {
    width: 100%;
    gap: 12px;
    overflow: hidden;
  }

  .aiStages div {
    font-size: 9px;
  }
}